#root {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #7c7b7b;
}
.navbar-title {
  color: white;
  text-align: center;
  flex: 1;
}
.card-custom {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}
.form-group-custom {
  margin-bottom: 20px; /* Add space below form group */
}
.countdown-timer {
  text-align: center; /* Center the text */
  font-size: 24px; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
  margin-bottom: 20px; /* Add some space below the timer */
  color: #ff0000; /* Change color to red to make it stand out */
}
.card-header-custom {
  background-color: #007bff; /* Bootstrap primary color */
  color: white; /* White text color */
  padding: 10px 20px; /* Add padding */
  border-top-left-radius: 10px; /* Rounded top left corner */
  border-top-right-radius: 10px; /* Rounded top right corner */
}

.card-subtitle-custom {
  font-size: 16px; /* Adjust subtitle font size */
  font-weight: 500; /* Make subtitle text semi-bold */
}
.custom-list-group {
  width: 400px; /* Riduce la larghezza della lista */
  margin: 0 auto; /* Centra la lista */
  font-size: 0.9em; /* Riduce la dimensione del testo */
}

.custom-list-group-item {
  padding: 10px; /* Riduce il padding */
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}